<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>       
        {% block stylesheets %}
          <link href="https://fonts.googleapis.com/css?family=Skranji" rel="stylesheet">
          <style>
            body {
              background-color: #222629;
              color: #86C232;
            }
            .test {
              font-family: 'Skranji';
              font-size: 25px;
            }
          </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <footer> 
      <p>&copy; Sebastian Christoph</p>
    </footer>
</html>

